/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Quicksand", sans-serif;
  color: #37346e;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Quicksand", sans-serif;
}

h1 {
  font-size: 4rem;
  line-height: 4.2rem;
}

h2 {
  font-size: 3rem;
  line-height: 3.2rem;
}

h3 {
  font-size: 2.4rem;
  line-height: 2.6rem;
  color: #b6eb1a;
  margin-bottom: 1rem;
}

h4 {
  font-size: 2.2rem;
  line-height: 2.4rem;
  text-transform: uppercase;
  color: #FD806A;
}

h5 {
  font-size: 2rem;
  line-height: 2.2rem;
}

h6 {
  font-size: 1.8rem;
  line-height: 2.2rem;
}

a {
  font-size: 1.4rem;
  line-height: 2rem;
  font-family: "Quicksand", sans-serif;
  cursor: pointer;
}

p {
  font-size: 1.6rem;
  line-height: 2rem;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  padding: 1rem 1.6rem;
  border-radius: 1rem;
  color: #37346e;
  font-weight: 700;
  background: #b6eb1a;
  border: none;
}

ul {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  background-color: #ffffff;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  box-shadow: 0 7px 7px -2px rgba(151, 149, 184, 0.2);
  position: sticky;
  top: 0%;
}
nav .nav-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1000px;
  text-align: center;
}
nav .nav-content .logo img {
  margin-right: 40vw;
  padding: 0 1rem;
  margin: 0rem 0;
}
nav .nav-content ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  padding: 0 0.5rem;
}
nav .nav-content ul li {
  font-weight: 700;
  margin: 0 3%;
}
nav .nav-content ul li a {
  font-size: 1.6rem;
  font-weight: 700;
  text-decoration: none;
  color: #FD806A;
}
nav .nav-content ul button {
  margin: 2rem 1.4rem;
  font-size: 1.4rem;
  line-height: 1.4rem;
  box-shadow: 0 2px 2px 2px rgba(151, 149, 184, 0.2);
}

@media (max-width: 768px) {
  nav .nav-content ul {
    flex-wrap: wrap;
    padding: 1rem 1rem 1rem 0;
  }
  nav .nav-content ul button {
    padding: 0.5rem 1rem;
    margin: 0 0 0 0;
  }
}
@media (max-width: 576px) {
  nav .nav-content {
    width: 500px;
    flex-direction: column;
  }
  nav .nav-content a img {
    padding-top: 0.5rem;
  }
  nav .nav-content ul {
    flex-direction: column;
  }
  nav .nav-content ul li {
    padding-bottom: 1rem;
  }
  nav .nav-content ul button {
    margin: 0.5rem 0;
  }
}
.cta-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  min-height: 90vh;
}
.cta-section h1 {
  margin-top: 5vh;
  font-weight: 700;
  text-align: center;
}
.cta-section .cta-content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 2% 0;
}
.cta-section .cta-content .cta-left-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 50%;
}
.cta-section .cta-content .cta-left-content .cta-left-top-content {
  padding: 1rem 2rem 0 2rem;
}
.cta-section .cta-content .cta-left-content .cta-left-top-content h5 {
  padding: 1rem;
  text-align: center;
}
.cta-section .cta-content .cta-left-content button {
  font-size: 1.6rem;
  text-transform: uppercase;
  padding: 1.8rem 3rem;
  margin: 2rem 0 1rem 0;
  box-shadow: 0 2px 2px 2px rgba(151, 149, 184, 0.2);
  border: none;
}
.cta-section .cta-content .cta-left-content .cta-left-bottom-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.cta-section .cta-content .cta-left-content .cta-left-bottom-content p {
  padding: 0 1rem 1.2rem 0;
  text-align: center;
  font-size: 1.4rem;
  line-height: 1.6rem;
}
.cta-section .cta-content .cta-left-content .cta-left-bottom-content p a {
  font-size: 1.4rem;
  line-height: 2rem;
  color: #37346e;
}
.cta-section .cta-content .cta-right-content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 2rem;
}
.cta-section .cta-content .cta-right-content img {
  width: 100%;
  padding: 1rem;
}
.cta-section .cta-learn-more {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.cta-section .cta-learn-more h3 {
  padding: 1rem;
  font-weight: 700;
  text-align: center;
}
.cta-section .cta-learn-more .jump-down i {
  font-size: 3rem;
  color: #9795b8;
  cursor: pointer;
  margin-bottom: 2rem;
  transition: transform 0.3s;
}

@media (max-width: 1000px) {
  .cta-section h1 {
    font-size: 3.4rem;
  }
  .cta-section .cta-content .cta-left-content .cta-left-top-content {
    padding: 1rem 0 0 2rem;
  }
  .cta-section .cta-content .cta-left-content .cta-left-top-content h5 {
    font-size: 1.6rem;
  }
  .cta-section .cta-content .cta-left-content button {
    padding: 1.4rem 3rem;
  }
}
@media (max-width: 768px) {
  .cta-section h1 {
    font-size: 2.6rem;
  }
  .cta-section .cta-content {
    flex-direction: column;
  }
  .cta-section .cta-content .cta-left-content {
    max-width: 90%;
  }
  .cta-section .cta-content .cta-left-content .cta-left-bottom-content p {
    padding: 0 1rem 1.4rem 0;
  }
  .cta-section .cta-content .cta-right-content img {
    width: 80%;
  }
  .cta-section .cta-learn-more {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .cta-section .cta-learn-more h3 {
    align-self: center;
  }
}
@media (max-width: 576px) {
  .cta-section h1 {
    padding: 0 2rem;
  }
  .cta-section .cta-content .cta-right-content {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .cta-section .cta-content .cta-right-content img {
    width: 80%;
  }
}
.pairing-section {
  padding-top: 2rem;
}
.pairing-section .pairing-content {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 4rem;
}
.pairing-section .pairing-content .pairing-left-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  width: 45%;
}
.pairing-section .pairing-content .pairing-left-content h4 {
  padding: 6rem 0 3rem 0;
}
.pairing-section .pairing-content .pairing-left-content p {
  padding: 1rem 0 2rem 0;
}
.pairing-section .pairing-content .pairing-left-content h3 {
  padding: 2rem 0;
}
.pairing-section .pairing-content .pairing-left-content img {
  width: 70%;
}
.pairing-section .pairing-content .pairing-right-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  margin-left: 3rem;
  width: 45%;
}
.pairing-section .pairing-content .pairing-right-content img {
  margin: 1rem;
  width: 70%;
}
.pairing-section .pairing-content .pairing-right-content h4 {
  padding: 2.5rem;
}
.pairing-section .pairing-content .pairing-right-content .pairing-good-list {
  margin: 0;
  padding: 0;
  text-align: left;
}
.pairing-section .pairing-content .pairing-right-content .pairing-good-list li {
  list-style-type: circle;
  margin-left: 2rem;
  font-size: 1.6rem;
  line-height: 2.4rem;
}
.pairing-section .pairing-content .pairing-right-content h5 {
  padding: 4rem 0 1rem 0;
}
.pairing-section .pairing-content .pairing-right-content .pairing-guidelines {
  text-align: left;
}
.pairing-section .pairing-content .pairing-right-content .pairing-guidelines li {
  margin-left: 2rem;
  font-size: 1.6rem;
  line-height: 2.4rem;
}

@media (max-width: 768px) {
  .pairing-section {
    padding-top: 1rem;
  }
  .pairing-section .pairing-content {
    flex-direction: column;
  }
  .pairing-section .pairing-content .pairing-left-content {
    width: 90%;
  }
  .pairing-section .pairing-content .pairing-right-content {
    width: 80%;
  }
  .pairing-section .pairing-content .pairing-right-content img {
    width: 90%;
    order: 5;
  }
  .pairing-section .pairing-content .pairing-right-content .pairing-good-list li {
    margin-left: 2rem;
  }
  .pairing-section .pairing-content .pairing-right-content h5 {
    padding: 6rem 0 1rem 0;
  }
  .pairing-section .pairing-content .pairing-right-content .pairing-guidelines li {
    margin-left: 0rem;
  }
}
@media (max-width: 576px) {
  .pairing-section {
    padding-top: 14rem;
  }
  .pairing-section .pairing-content {
    flex-direction: column;
  }
  .pairing-section .pairing-content .pairing-left-content {
    width: 90%;
  }
  .pairing-section .pairing-content .pairing-right-content {
    width: 80%;
  }
  .pairing-section .pairing-content .pairing-right-content img {
    width: 90%;
    order: 5;
  }
  .pairing-section .pairing-content .pairing-right-content .pairing-good-list li {
    margin-left: 2rem;
  }
  .pairing-section .pairing-content .pairing-right-content h5 {
    padding: 6rem 0 1rem 0;
  }
  .pairing-section .pairing-content .pairing-right-content .pairing-guidelines li {
    margin-left: 0rem;
  }
}
.why-pair-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 7rem;
}
.why-pair-section .why-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2rem 1rem 4rem 1rem;
}
.why-pair-section .why-content h4 {
  padding: 2rem 1rem;
}
.why-pair-section .why-content .why-pair {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 1rem;
}
.why-pair-section .why-content .why-pair img {
  width: 20%;
  padding: 1.2rem;
}
.why-pair-section .why-content .why-pair p {
  width: 20rem;
  padding: 1.2rem;
  font-size: 1.8rem;
  line-height: 2.2rem;
}

.team-section {
  padding-top: 10rem;
}
.team-section h4 {
  text-align: center;
}
.team-section .team-content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 2rem;
}
.team-section .team-content .card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 0 4px 2px rgba(151, 149, 184, 0.2);
  padding: 1rem;
  margin: 2rem;
  min-height: 400px;
  width: 50%;
  text-align: center;
}
.team-section .team-content .card .img-name-container img {
  border-radius: 50%;
  width: 200px;
  padding: 3rem;
}
.team-section .team-content .card .img-name-container .team-title h2 {
  text-transform: uppercase;
  font-size: 2rem;
}
.team-section .team-content .card .img-name-container .team-title h3 {
  margin-bottom: 1rem;
  font-size: 1.6rem;
}
.team-section .team-content .card p {
  padding: 0 1rem;
}
.team-section .team-content .card .social {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  padding: 1rem 5rem;
}
.team-section .team-content .card .social i {
  margin: 20%;
  cursor: pointer;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
}
footer p {
  text-align: center;
  padding: 3rem;
  height: 10vh;
  width: 100%;
  background-color: #FD806A;
}

/*# sourceMappingURL=style.css.map */
