@mixin displayFlex($j, $a) {
  display: flex;
  justify-content: $j;
  align-items: $a;
}

@mixin font($size, $lh) {
  font-family: 'Lato', sans-serif;
  color: $grey-dark;
  font-size: $size;
  line-height: $lh;
}
