@mixin flex($j, $a) {
  display: flex;
  justify-content: $j;
  align-items: $a;
}

@mixin font($size, $lh) {
  font-family: 'Quicksand', sans-serif;
  color: $main;
  font-size: $size;
  line-height: $lh;
}
