@import 'variables';
@import 'mixins';
@import 'reset';

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Quicksand', sans-serif;
  color: $navy;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Quicksand', sans-serif;
}

h1 {
  @include font(4rem, 4.2rem);
}

h2 {
  @include font(3rem, 3.2rem);
}

h3 {
  @include font(2.4rem, 2.6rem);
  color: $accent;
  margin-bottom: 1rem;
}

h4 {
  @include font(2.2rem, 2.4rem);
  text-transform: uppercase;
  color: $coral;
}

h5 {
  @include font(2rem, 2.2rem);
}

h6 {
  @include font(1.8rem, 2.2rem);
}

a {
  font-size: 1.4rem;
  line-height: 2rem;
  font-family: 'Quicksand', sans-serif;
  cursor: pointer;
}

p {
  font-size: 1.6rem;
  line-height: 2rem;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  padding: 1rem 1.6rem;
  border-radius: 1rem;
  color: $main;
  font-weight: 700;
  background: $accent;
  border: none;
}

ul {
  margin: 0;
  padding: 0;
}

.container {
  @include flex(center, center);
  flex-direction: column;
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  background-color: $white;
}

// NAV
nav {
  @include flex(center, center);
  background-color: $white;
  box-shadow: 0 7px 7px -2px rgb($grey, 0.2);
  position: sticky;
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -ms-sticky;
  position: -o-sticky;
  top: 0%;
  z-index: 99;
  .nav-content {
    @include flex(space-between, center);
    width: 1000px;
    text-align: center;
    .logo {
      img {
        margin-right: 40vw;
        padding: 0 0 0 1rem;
        margin: 0;
        cursor: pointer;
      }
    }
    ul {
      @include flex(flex-end, center);
      width: 100%;
      padding: 0 0.5rem;
      li {
        font-weight: 700;
        margin: 0 3%;
        a {
          font-size: 1.6rem;
          font-weight: 700;
          text-decoration: none;
          color: $coral;
        }
      }
      button {
        margin: 2rem 1.4rem;
        font-size: 1.4rem;
        line-height: 1.4rem;
        box-shadow: 0 2px 2px 2px rgb($grey, 0.2);
        transition: transform 0.3s;
      }
      button:hover {
        transform: scale(1.03);
      }
    }
  }
}
// NAV 768
@media (max-width: $tablet) {
  nav {
    .nav-content {
      ul {
        padding: 1rem 1rem 1rem 0;
        button {
          margin: 0 0 0 0;
        }
      }
    }
  }
}
// NAV 576
@media (max-width: $mobile) {
  nav {
    .nav-content {
      width: 500px;
      a {
        img {
          padding-top: 0.5rem;
        }
      }
      ul {
        // flex-direction: column;
        flex-wrap: wrap;
        li {
          font-size: 1.2rem;
          padding-bottom: 0.5rem;
        }
        button {
          order: -1;
          margin: 0.5rem 0;
        }
      }
    }
  }
}

// CTA
.cta-section {
  @include flex(space-between, center);
  flex-direction: column;
  min-height: 90vh;
  padding-top: 7vh;
  h1 {
    font-weight: 700;
    text-align: center;
    animation: slideinright 1s;
  }
  .cta-content {
    @include flex(center, center);
    margin: 0 0 2% 0;
    .cta-left-content {
      @include flex(center, center);
      flex-direction: column;
      max-width: 50%;
      .cta-left-top-content {
        padding: 1rem 1rem 0 3rem;
        h5 {
          padding: 1rem;
          text-align: center;
        }
      }
      a {
        button {
          font-size: 1.6rem;
          text-transform: uppercase;
          padding: 1.8rem 3rem;
          margin: 2rem 0 1rem 0;
          box-shadow: 0 2px 2px 2px rgb($grey, 0.2);
          border: none;
          cursor: pointer;
          transition: transform 0.3s;
        }
        button:hover {
          transform: scale(1.03) translateY(-1.02rem);
        }
      }
      .cta-left-bottom-content {
        @include flex(center, center);
        flex-direction: column;
        p {
          padding: 0.5rem 1rem 1.2rem 0;
          text-align: center;
          font-size: 1.4rem;
          line-height: 1.6rem;
          a {
            font-size: 1.4rem;
            line-height: 2rem;
            color: $main;
          }
          a:visited {
            color: $grey-neutral;
          }
        }
      }
    }
    .cta-right-content {
      @include flex(center, center);
      margin-right: 2rem;
      img {
        width: 100%;
        padding: 1rem;
      }
    }
  }
  .cta-learn-more {
    @include flex(center, center);
    flex-direction: column;
    h3 {
      padding: 1rem;
      font-weight: 700;
      text-align: center;
    }
    .jump-down {
      animation: moveInBottom 1s;
      animation-delay: 1s;
      animation-timing-function: ease-out;
      animation-iteration-count: 1;
      i {
        padding: 2rem;
        font-size: 3rem;
        color: $grey;
        cursor: pointer;
        animation-name: wobble;
        animation-delay: 1s;
        animation-iteration-count: 5;
        transition: transform 0.3s;
      }
      i:hover {
        transform: scale(1.5);
      }
    }
  }
}
// CTA 1000px
@media (max-width: $standard) {
  .cta-section {
    h1 {
      font-size: 3.4rem;
    }
    .cta-content {
      .cta-left-content {
        .cta-left-top-content {
          padding: 1rem 0 0 2rem;
          h5 {
            font-size: 1.6rem;
          }
        }
        button {
          padding: 1.4rem 3rem;
        }
      }
    }
  }
}
// CTA 768px
@media (max-width: $tablet) {
  .cta-section {
    h1 {
      font-size: 2.6rem;
    }
    .cta-content {
      flex-direction: column;
      .cta-left-content {
        max-width: 90%;
        .cta-left-bottom-content {
          p {
            padding: 0 1rem 1.4rem 0;
          }
        }
      }
      .cta-right-content {
        margin-right: 0;
        img {
          width: 80%;
        }
      }
    }
    .cta-learn-more {
      @include flex(center, center);
      flex-direction: column;
      h3 {
        align-self: center;
      }
    }
  }
}
// CTA 576px
@media (max-width: $mobile) {
  .cta-section {
    h1 {
      padding: 0 2rem;
    }
    .cta-content {
      .cta-left-content {
        .cta-left-top-content {
          padding-left: 0;
        }
      }
      .cta-right-content {
        @include flex(center, center);
        margin-right: 0;
        img {
          width: 80%;
        }
      }
    }
  }
}

// PAIRING
.pairing-section {
  @include flex(space-between, center);
  flex-direction: column;
  padding-top: 7rem;
  min-height: 100vh;
  .pairing-content {
    @include flex(center, center);
    text-align: center;
    .pairing-left-content {
      @include flex(center, center);
      flex-direction: column;
      width: 45%;
      padding: 0 2rem;
      h4 {
        padding: 6rem 0 3rem 0;
      }
      p {
        padding: 1rem 0 2rem 0;
      }
      h3 {
        padding: 2rem 0;
      }
      img {
        width: 70%;
      }
    }
    .pairing-right-content {
      @include flex(center, center);
      flex-direction: column;
      flex-wrap: wrap;
      margin-left: 3rem;
      width: 45%;
      img {
        margin: 1rem;
        width: 70%;
      }
      h4 {
        padding: 2.5rem 0;
      }
      .pairing-good-list {
        margin: 0;
        padding: 0;
        text-align: left;
        li {
          list-style-type: circle;
          margin-left: 2rem;
          font-size: 1.6rem;
          line-height: 2.4rem;
        }
      }
      h5 {
        padding: 4rem 0 1rem 0;
      }
      .pairing-guidelines {
        text-align: left;
        li {
          margin-left: 2rem;
          font-size: 1.6rem;
          line-height: 2.4rem;
        }
      }
    }
  }
  .pairing-learn-more {
    @include flex(space-around, center);
    flex-direction: column;
    .arrow-more {
      i {
        padding: 2rem;
        font-size: 3rem;
        color: $grey;
        cursor: pointer;
        animation-name: wobble;
        animation-delay: 1s;
        transition: transform 0.3s;
      }
      i:hover {
        transform: scale(1.5);
      }
    }
  }
}
// PAIRING 768px
@media (max-width: $tablet) {
  .pairing-section {
    padding-top: 4rem;

    .pairing-content {
      flex-direction: column;
      .pairing-left-content {
        width: 80%;
      }
      .pairing-right-content {
        width: 80%;
        img {
          width: 90%;
          order: 5;
        }
        .pairing-good-list {
          li {
            margin-left: 2rem;
          }
        }
        h5 {
          padding: 6rem 0 1rem 0;
        }
        .pairing-guidelines {
          li {
            margin-left: 0rem;
          }
        }
      }
    }
  }
}
// PAIRING 576px
@media (max-width: $mobile) {
  .pairing-section {
    padding-top: 5rem;
    .pairing-content {
      flex-direction: column;
      .pairing-left-content {
        width: 100%;
      }
      .pairing-right-content {
        margin: 0;
        width: 100%;
        img {
          width: 90%;
          order: 5;
        }
        .pairing-good-list {
          li {
            margin-left: 2rem;
          }
        }
        h5 {
          padding: 6rem 0 1rem 0;
        }
        .pairing-guidelines {
          li {
            margin-left: 0rem;
          }
        }
      }
    }
  }
}

// WHY
.why-pair-section {
  @include flex(space-between, center);
  flex-direction: column;
  padding-top: 7rem;
  min-height: 100vh;
  .why-content {
    @include flex(center, center);
    flex-direction: column;
    padding: 2rem 1rem 4rem 1rem;
    h4 {
      padding: 2rem 1rem;
    }
    .why-pair {
      @include flex(center, center);
      flex-wrap: wrap;
      padding: 1rem;
      .why-card {
        @include flex(center, center);
        img {
          width: 50%;
          padding: 1rem;
        }
        p {
          width: 20rem;
          padding: 1rem;
          font-size: 1.8rem;
          line-height: 2.2rem;
        }
      }
    }
  }
  .why-learn-more {
    @include flex(space-around, center);
    flex-direction: column;

    .arrow-more {
      i {
        padding: 2rem;
        font-size: 3rem;
        color: $grey;
        cursor: pointer;
        animation-name: wobble;
        animation-delay: 1s;
        transition: transform 0.3s;
      }
      i:hover {
        transform: scale(1.5);
      }
    }
  }
}
// WHY 768
@media (max-width: $tablet) {
  .why-pair-section {
    padding-top: 5rem;
  }
}
// WHY 576
@media (max-width: $mobile) {
  .why-pair-section {
    padding-top: 7rem;
  }
}

// TEAM
.team-section {
  padding: 10rem 0;
  h4 {
    text-align: center;
  }
  .team-content {
    @include flex(center, flex-start);
    flex-wrap: wrap;
    padding: 3rem 1rem 6rem 1rem;
    .card {
      @include flex(space-between, center);
      flex-direction: column;
      box-shadow: 0 0 4px 2px rgb($grey, 0.2);
      padding: 0.5rem 1rem;
      margin: 1.2rem;
      min-height: 50rem;
      width: 25%;
      text-align: center;
      transition: transform 0.3s;
      .img-name-container {
        img {
          filter: grayscale(50%);
          border-radius: 50%;
          width: 10rem;
          box-shadow: 0 0 8px 4px rgb($grey, 0.4);
          margin: 2rem;
        }
        img:hover {
          filter: grayscale(0%);
        }
        .team-title {
          h2 {
            text-transform: uppercase;
            font-size: 2rem;
            line-height: 2rem;
          }
          h3 {
            margin-bottom: 1rem;
            font-size: 1.6rem;
          }
        }
      }
      p {
        padding: 0 0.8rem;
      }
      .social {
        @include flex(center, center);
        font-size: 2rem;
        padding: 1rem 5rem;
        a {
          i {
            margin: 1rem;
            color: $main;
            cursor: pointer;
          }
        }
      }
    }
    .card:hover {
      transform: scale(1.02) translateY(-1.03rem);
    }
  }
}
// TEAM 768
@media (max-width: $tablet) {
  .team-section {
    .team-content {
      @include flex(space-between, flex-start);
      flex-wrap: wrap;
      flex-direction: column-reverse;
      .card {
        @include flex(center, center);
        flex-direction: row;
        padding: 0.5rem;
        margin: 1rem 2rem;
        min-height: 0rem;
        width: 94%;
        .img-name-container {
          img {
            width: 60%;
            padding: 0rem;
            margin: 1rem;
            filter: grayscale(0%);
          }
          .team-title {
            h2 {
              margin: 0.5rem 2rem;
            }
          }
        }
        p {
          padding: 1rem;
          margin: 1rem;
          width: 70%;
        }
        .social {
          flex-direction: column;
          padding: 0 1rem 0 0;
          a {
            i {
              margin: 1rem;
              width: 50%;
              font-size: 2rem;
            }
          }
        }
      }
    }
  }
}
// TEAM 576
@media (max-width: $mobile) {
  .team-section {
    padding-top: 12rem;
    .team-content {
      .card {
        flex-direction: column;
        padding: 1rem;
        width: 92%;
        .img-name-container {
          img {
            margin: 2rem 0;
          }
        }
        p {
          padding: 1rem 0;
          margin: 0rem;
          width: 90%;
        }
        .social {
          flex-direction: row;
          padding: 1rem;
          i {
            padding: 0 1rem;
            font-size: 2.5rem;
          }
        }
      }
    }
  }
}

// FOOTER
footer {
  @include flex(center, center);
  p {
    text-align: center;
    padding: 3rem;
    height: 10vh;
    width: 100%;
    background-color: $coral;
  }
}

@keyframes slideinright {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  80% {
    transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes wobble {
  16.65% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
  33.3% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }
  49.95% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }
  66.6% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }
  83.25% {
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
